*{
 margin: 0 !important;
 padding: 0 !important;
 box-sizing: border-box !important;
 font-family: 'Share Tech', sans-serif;
}

html, body{
 background-image: url('../images/grid4.png');
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(22, 22, 22);
}

header{
  background-color: #303030;
  box-shadow: 0 0 25px #00db58;
  animation: neonEffect 3s infinite linear;
}

@keyframes neonEffect{
  0%,
  100%{
    background-color: #00db58;
  }
}

nav a{
  color: black;
  font-weight: bold;
}

.interno{
  
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

::placeholder{
 color: white;
}

.menu-lateral{
 background-color: #04161A;
}

.paginas{
  min-height: 100vh;
}

.paginas .banner a{
  background-color: #303030;
  box-shadow: 0 0 20px #00db58;
  animation: neonEffect 3s infinite linear;
  color: black;
  font-weight: bolder;
}

.paginas .banner h1{
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.055);
}

.esquerda{
  background-position: center top;
  background-size: cover;
}

.cards{
  display: flex;
}

form input[type="submit"]{
 background-color: #04161A;
 border: none;
}

form input{
 color: white;
}

form textarea{
 color: white;
}

footer{
  background-color: #303030;
  box-shadow: 0 0 25px #00db58;
  animation: neonEffect 3s infinite linear;
  position: absolute;
  bottom: 0;
}

footer .container{
  display: flex;
}

footer img{
  width: 30px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

footer p{
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1000px){
  .lado-direito{
    padding-bottom: 150px;
  }

  footer .container{
    display: block;
  }

  footer .sob{
    display: flex;
    flex-direction: column;
  }

  .cards{
    display: block;
  }

  .sub-espaco{
    
    padding-bottom: 500px;
  }
}
