*{
 margin: 0 !important;
 padding: 0 !important;
 box-sizing: border-box !important;
 font-family: 'Share Tech', sans-serif;
}

html, body{
 background-image: url('../images/textura.png');
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.interno{
  
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

::placeholder{
 color: white;
}

.menu-lateral{
 background-color: #04161A;
}

.paginas{
  min-height: 100vh;
}

.paginas .banner a{
 background-color: #04161A;
}

.cards{
  display: flex;
}

form input[type="submit"]{
 background-color: #04161A;
 border: none;
}

form input{
 color: white;
}

form textarea{
 color: white;
}

footer{
  background-color: #04161A;
  position: absolute;
  bottom: 0;
}

footer .container{
  display: flex;
}

footer img{
  width: 30px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 1000px){
  .lado-direito{
    padding-bottom: 150px;
  }

  footer .container{
    display: block;
  }

  footer .sob{
    display: flex;
    flex-direction: column;
  }

  .cards{
    display: block;
  }

  .sub-espaco{
    
    padding-bottom: 500px;
  }
}
